{% load rest_framework %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dissertation</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="text-center">
        <h1>Profile - {{ profile.name }}</h1>
    </div>
    <form action="{% url 'form' %}" method="post" novalidate>
         {% csrf_token %}
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" placeholder="name" name="name">
        </div>
        <div class="mb-3">
            <label for="idemail" class="form-label">Email address</label>
            <input type="email" class="form-control" id="idemail" placeholder="name@example.com" name="email">
        </div>
        <div class="mb-3">
            <label for="education" class="form-label">Education</label>
            <input id="education" type="text" class="form-control" placeholder="education" name="education">
        </div>
        <div class="mb-3">
            <label for="gender" class="form-label">Gender</label>
            <input type="text" class="form-control" id="gender" placeholder="gender" name="gender">
        </div>
        <div class="mb-3">
            <label for="phone" class="form-label">Phone</label>
            <input type="email" class="form-control" id="phone" placeholder="phone" name="phone">
        </div>
        <div class="mb-3">
            <label for="type" class="form-label">Type</label>
            <select class="form-select" aria-label="Default select example" name="type">
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>

        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Primary</button>
        </div>
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
</body>
</html>